################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/Hello-World/.vs/Hello-World
/Hello-World/Hello-World/obj
/Hello-World/Hello-World/bin/x86/Debug/Core
/Hello-World/Hello-World/bin/x86/Debug
**/bin/
/Hello-World/Hello-World/.vs
**/obj/