################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Hello-World/.vs/Hello-World
/Hello-World/Hello-World/obj
